In [26]:
import requests
from bs4 import BeautifulSoup
import pandas as pd

In [27]:
roms = pd.concat([pd.DataFrame(
    [{'arab':a.text.split()[0],'roman':a.text.split()[1]} for a in \
 BeautifulSoup(requests.get('https://smorgasborg.artlung.com/roman-numerals/page/%d' % p) \
              .content,'html5lib').find('pre').find_all('a')]) for p in range(1,11)])\
    .loc[lambda df: df['arab'] != '0',:]

In [28]:
def rom2ar_test(fun): # ez azokat az eseteket adja vissza, ahol az átváltás helytelen
    calc = roms['roman'].apply(fun)
    tru = roms['arab'].apply(int)
    return roms[calc != tru]

In [29]:
roms.apply(type)

arab     <class 'pandas.core.series.Series'>
roman    <class 'pandas.core.series.Series'>
dtype: object

In [30]:
print(roms)

       arab                roman
1         1                    I
2         2                   II
3         3                  III
4         4                   IV
5         5                    V
6         6                   VI
7         7                  VII
8         8                 VIII
9         9                   IX
10       10                    X
11       11                   XI
12       12                  XII
13       13                 XIII
14       14                  XIV
15       15                   XV
16       16                  XVI
17       17                 XVII
18       18                XVIII
19       19                  XIX
20       20                   XX
21       21                  XXI
22       22                 XXII
23       23                XXIII
24       24                 XXIV
25       25                  XXV
26       26                 XXVI
27       27                XXVII
28       28               XXVIII
29       29                 XXIX
30       30                  XXX
...     ...                  ...
971    9971      MMMMMMMMMCMLXXI
972    9972     MMMMMMMMMCMLXXII
973    9973    MMMMMMMMMCMLXXIII
974    9974     MMMMMMMMMCMLXXIV
975    9975      MMMMMMMMMCMLXXV
976    9976     MMMMMMMMMCMLXXVI
977    9977    MMMMMMMMMCMLXXVII
978    9978   MMMMMMMMMCMLXXVIII
979    9979     MMMMMMMMMCMLXXIX
980    9980      MMMMMMMMMCMLXXX
981    9981     MMMMMMMMMCMLXXXI
982    9982    MMMMMMMMMCMLXXXII
983    9983   MMMMMMMMMCMLXXXIII
984    9984    MMMMMMMMMCMLXXXIV
985    9985     MMMMMMMMMCMLXXXV
986    9986    MMMMMMMMMCMLXXXVI
987    9987   MMMMMMMMMCMLXXXVII
988    9988  MMMMMMMMMCMLXXXVIII
989    9989    MMMMMMMMMCMLXXXIX
990    9990        MMMMMMMMMCMXC
991    9991       MMMMMMMMMCMXCI
992    9992      MMMMMMMMMCMXCII
993    9993     MMMMMMMMMCMXCIII
994    9994      MMMMMMMMMCMXCIV
995    9995       MMMMMMMMMCMXCV
996    9996      MMMMMMMMMCMXCVI
997    9997     MMMMMMMMMCMXCVII
998    9998    MMMMMMMMMCMXCVIII
999    9999      MMMMMMMMMCMXCIX
1000  10000           MMMMMMMMMM

[10009 rows x 2 columns]

In [31]:
def roma(rom_string):
    master_dict_reverse = {'IV' :4, 'IX': 9, 'XL': 40, 'XC': 90, 'CD':400, 'CM': 900}
    master_dict = {'I': 1, 'V': 5, 'X': 10, 'L':50, 'C':100, 'D': 500, 'M': 1000}   
    rom_actual = rom_string
    solution = 0
    
    for roman, arab in master_dict_reverse.items():
        if roman in rom_actual: 
            solution += arab
            rom_actual = rom_actual.replace(roman,"") 
                        
    for roman, arab in master_dict.items():
        if roman in rom_actual:
            solution += rom_actual.count(roman)*arab

    return solution

In [32]:
rom2ar_test(roma)

Empty DataFrame
Columns: [arab, roman]
Index: []

In [33]:
class Roman:
    
    def __init__(self, num):
        
        if isinstance(num, str):
            self.roman = num
            self.arab = self.roma()
        
        if isinstance(num, int):
            self.arab = num
            self.roman = 'I'
        
    def roma(self):
        master_dict_reverse = {'IV' :4, 'IX': 9, 'XL': 40, 'XC': 90, 'CD':400, 'CM': 900}
        master_dict = {'I': 1, 'V': 5, 'X': 10, 'L':50, 'C':100, 'D': 500, 'M': 1000}   
        rom_actual = self.roman
        solution = 0
    
        for roman_1, arab in master_dict_reverse.items():
            if roman_1 in self.roman: 
                solution += arab
                rom_actual = rom_actual.replace(roman_1,"") 
                        
        for roman_1, arab in master_dict.items():
            if roman_1 in self.roman:
                solution += rom_actual.count(roman_1)*arab

        return solution
    
    def __add__(self, other):
        
        summa = self.arab + other.arab
        
        return Roman(summa)
    
    def __lt__(self, other):
        
        return self.arab < other.arab

In [38]:
r = Roman('XXXXIV')
r.arab

44

Test Driven Development

In [39]:
r = Roman('III')

In [40]:
r.roman

'III'

In [23]:
r1 = Roman(5)
r1.roman == 'V'

False

In [24]:
r3 = r1 + r2
r3.arab == 20

NameError: name 'r2' is not defined

In [25]:
for a in range(2000, 30000):
    rt1 = Roman(a)
    rt2 = Roman(rt1.roman)
    if rt1.arab != rt2.arab:
        print('JAJJJ')
        break

JAJJJ