## hogyan hozunk létre objektumot?

In [13]:
# adat:
a = 4  # deklarálás + értékadás
d = {'A': 20}

In [3]:
# függvény:
  # definiálás
def kecske(kaposzta):  # függvény neve és paraméterei neve
    c = kaposzta - 1  # utasítás sorozat (opcionális)
    return "nincs káposzta"  # visszatérési érték / főhatás megadása (opcionális)

In [16]:
# osztály
# definiálás:
class A:
    
    pass

In [18]:
type(A)

type

In [19]:
type(int)

type

In [24]:
a = A()

In [25]:
type(a)

__main__.A

In [30]:
class B:
    
    att_a = 10  # adatot kötünk az osztályhoz (attribútum)

In [49]:
att_a

NameError: name 'att_a' is not defined

In [42]:
b = B()  # b egy instance-e B-nek

In [28]:
b.att_a

10

In [37]:
B.att_a

10

In [34]:
isinstance(10, int)

True

In [35]:
type(a) == A

True

In [38]:
class C:
    
    def __init__(self, x):
        
        self.fing = x * 3

In [48]:
__init__(c,x)

NameError: name '__init__' is not defined

In [40]:
c = C()

TypeError: __init__() missing 1 required positional argument: 'x'

In [43]:
c = C(7)

In [44]:
c.fing

21

In [45]:
C.fing

AttributeError: type object 'C' has no attribute 'fing'

In [51]:
xyz = C(20)

In [52]:
xyz.fing

60

In [53]:
type(xyz)

__main__.C

In [54]:
type(c)

__main__.C

In [55]:
c.fing

21

In [58]:
c2 = C(c.fing)

In [59]:
c2.fing

63

In [66]:
class D:
    
    def __init__(self, a, b):
        
        self.summa = a + b
        
        self.prod = a * b
    
    def increment(self):
        
        self.summa = self.summa + 1

In [67]:
d1 = D(10, 11)

In [68]:
d1.summa

21

In [69]:
d1.prod

110

In [70]:
d1.increment()

In [71]:
d1.summa

22

In [72]:
d1.prod

110

In [73]:
class Roman:
    
    def __init__(self, num):
        
        if isinstance(num, str):
            pass
        
        
        self.arabic = 10
        
        self.roman = 'X'
    
    def fing(self):
        
        pass

In [60]:
import pandas

In [61]:
type(pandas)

module

In [65]:
pandas.DataFrame

pandas.core.frame.DataFrame

In [62]:
pandas.__file__

'/var/www/rajkjupyter/.local/lib/python3.6/site-packages/pandas/__init__.py'

In [74]:
import pandas as pd

In [75]:
type(pd)

module

In [76]:
df = pd.DataFrame()

In [79]:
df.empty

True

In [80]:
df2 = pd.DataFrame(
    {'A': [2, 3, 4],
     'B': [10, 20, 30]}
)

In [81]:
df2

   A   B
0  2  10
1  3  20
2  4  30

In [82]:
type(pd.DataFrame)

type

In [83]:
type(C)

type

In [84]:
df2.columns

Index(['A', 'B'], dtype='object')

In [85]:
df2.index

RangeIndex(start=0, stop=3, step=1)

In [86]:
df2.shape

(3, 2)

In [87]:
df2.empty

False

In [92]:
df2

   A   B
0  2  10
1  3  20
2  4  30

In [95]:
pd.Series()

Series([], dtype: float64)

In [98]:
type(df2['A'])

pandas.core.series.Series